body{
    padding-top: 5%;
    /* overflow: hidden; */
}

.sticky-div .submit-button{
    background-color: white;
    padding: 1%;
    margin: 0.5%;
    top:0;
    right:0;
}
.sticky-div{
    top:0;
    left:0;
    width: 100%;
    height: 10%;
    margin-right: auto;
    position : fixed;
    padding: 1%;
    text-align: right;
    /* margin: 5%; */
    /* flex-direction: column; */
    background-color: white;
    
    border: 2%;
    border-style: solid;
    border-color: darkslategrey;
}

/* .submit-button{
    font-weight: bold;
    font-size: large;
    padding: 5%;
    background-color: lightcoral;
    border: 15%;
    border-style: solid;
    border-color: darkslategrey;
    border-radius: 10%;
} */

.display-div{
    margin-top: 10%;
    width: 100%;
    height: 100%;
    font-weight: bold;
    font-size: large;
    padding: 5%;
    background-color: white;
    border: 10px;
    border-style: solid;
    border-color: darkslategrey;
    border-radius: 10%;
    text-align: left;
}
.node-div{
    padding: 5%;
    font-style: italic;
    font-size: calc(10px + 2vmin);
    background-color: cornsilk;
    border-radius: 20%;
}
