body {
    width: 100%;
    /* max-width: 600px; */
    margin: 0 auto;
    padding: 20px;
    background-color: lightblue;
    box-sizing: border-box;
}

.home{
    
    /* padding-top: 1; */
    width: 100%;
    height: 100%;
    font-weight: bold;
    font-size: large;
    padding: 5%;
    background-color: cornsilk;
    border: 10px;
    border-style: solid;
    border-color: darkslategrey;
    border-radius: 10%;
}
/* 
.home-title {
    color: #333;
    text-align: center;
}

.home-list {
    list-style-type: none;
    padding: 0;
}

.home-list li a {
    color: #007bff;
    text-decoration: none;
}

.home-list li a:hover {
    text-decoration: underline;
} */