.sticky-div{
    top:0;
    left:0;
    width: 100%;
    height: 5%;
    margin-right: auto;
    position : fixed;
    padding: 1%;
    text-align: right;
    margin-bottom: 2%;
    /* flex-direction: column; */
    background-color: white;
    border: 2%;
    border-style: solid;
    border-color: darkslategrey;
}

.home-button{
    background-color: white;
    padding: 1%;
    border:none;
    border-left: 1%;
    border-left-style: solid;
    top:0;
    right:0;
}

.receipt-heading{
    margin-top: 10%;
}

.receipt-div{
    text-align: left;
    width: fit-content; 
}